<div class="col-12 pt-3">
  <% if notice %>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <%= notice %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <% if alert %>
    <div id="error_explanation">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <h2>
          Something went wrong
        </h2>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <ul>
          <% Array.wrap(alert).each do |message| %>
            <li>
              <%= message %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
