<h3 class="pt-5 text-dark-blue pb-3 text-center">
  <%= t('categories.all') %>
</h3>

<%= render "shared/categories_list", categories: @categories %>
<%== pagy_bootstrap_nav(@pagy_c) if @pagy_c.pages > 1 %>
